body{margin: 0;
box-sizing: border-box;}

svg{ height: 15px;
fill: white;
padding-right: 20px;}

header { background-color: black;
height: 100vh;
width: 13%;
padding: 20px;
color: white;
position: sticky;
top: 0;}

main {width: 87%;
background-image: url(img/img_9.jpg);
background-size: 100%;
background-attachment: fixed;}

#welcome { height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
backdrop-filter: brightness(50%);
-webkit-text-fill-color: white;

}


#welcome p { width: 60%; font-size: 20px;}
#welcome a {display: inline-block;
width: 164px;
height: 53px;
background-color: #df0e62;
color: white;
text-decoration: none;
border-radius: 30px;
text-align: center;
line-height: 53px;
}

body{ display: flex;}

#photos { display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: black;
row-gap: 10px;}

.imagens { width: 33%;
height: 33vh;
overflow: hidden;}

